<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Base Hairdressing</title>
    <link rel="stylesheet" href="../dist/app.css">
    <link rel="stylesheet" href="https://use.typekit.net/uyj6eus.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    <div id="app">
        <div>
            <section class="hero is-fullheight">
                <div class="hero-body columns is-centered">
                    <div class="column is-5 is-7-tablet">
                            {{template "content"}}
                        </div>
                </div>
            </section>
        </div>
    </div>
    <script src="../dist/app.js"></script>
</body>
</html>