@import "node_modules/bulma/bulma.sass";

body {
  background-color: black;
  color: #FFF;
}

h2 {
  font-family: poynter-oldstyle-display, serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

.label {
  color: #FFF;
}

.hero {
  background: url("/dist/images/base_bground.jpg") center center;
  background-size: cover;
  height: 100%;

  .subtitle {
    margin-top: 3rem;
  }
}
.copy {
  background-color: rgba(0, 0, 0, .6);

  ul {
    margin-left: 1rem;
    margin-bottom: 2rem;
    li {
      font-size: 1.1rem;
      line-height: 1.5rem;
      list-style-type: square;
      margin-bottom: 2rem;
    }
  }
}