@import "node_modules/bulma/bulma.sass";

.hero {
  background: url("/dist/images/base_bground.jpg") center center black;
  background-size: cover;
  height: 100%;

  .subtitle {
    margin-top: 3rem;
  }
}